body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
    color: #fff;
}

main {
    flex: 2;
    margin: auto;
    width: 50%;
}

.results {
    display: flex;
    flex-direction: column;
    background-color: #00f;
}

.results > div {
    background-color: #fff;
    margin: 10px;
    text-align: center;
    padding: 30px;
    color: #000;
}

.format-results {
    color: #f00;
}
// Referred: https://www.w3schools.com/css/css3_animations.asp
#spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    border-left: 16px solid #ff0;
    border-top: 16px solid #00f;
    border-right: 16px solid #0f0;
    border-bottom: 16px solid #f00;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite; //animation-name, animation-duration, animation-timing-function, animation-iteration-count
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }