<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NLP</title>
    </head>

    <body>

        <header>
            <div class="header">
                <img id ="logo" alt="logo"/>
                <h1>Sentiment Analysis</h1>
            </div>
        </header>

        <main>
            <section>
                <form class="sentiment-form" onsubmit="return Client.handleSubmit(event)">
                    <label for="user-input">Please enter url or text to analyze</label>
                    <input id="user-input" type="text" name="input" value="" placeholder="please enter url or text to analyze">
                    <input type="submit" name="" value="submit" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <strong>Sentiment Analysis Results:</strong>
                <div class="results" id="results">
                    <div id ="polarity">
                    </div>
                    <div id="subjectivity"></div>
                    <div id="polarity_confidence"></div>
                    <div id="subjectivity_confidence"></div>
                    <div id="text"></div>
                </div>
            </section>
        </main>

        <footer>
            <p>For questions or comments mail to: <a href="mailto:thanu.partha@gmail.com">Thanuja P Stewart</a></p>
        </footer>
    </body>
</html>
